COMPOSE_PROJECT_NAME=sonicrelay
COMPOSE_PROFILES=prod
ASPNETCORE_ENVIRONMENT=Production
API_PUBLIC_BASE_URL=https://stream.seudominio.com
API_IMAGE=ghcr.io/seu-user/sonicrelay-api:latest
POSTGRES_VERSION=17-alpine
POSTGRES_DB=sonicrelay
POSTGRES_USER=sonicrelay
POSTGRES_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD
REDIS_VERSION=7-alpine
REDIS_PASSWORD=CHANGE_ME_STRONG_REDIS_PASSWORD
AUTH_ACCESS_TOKEN_MINUTES=15
AUTH_REFRESH_TOKEN_DAYS=30
AUTH_REQUIRE_CONFIRMED_EMAIL=true
SESSION_CODE_TTL_MINUTES=10
SESSION_MAX_VIEWERS=3
SESSION_IDLE_TIMEOUT_MINUTES=5
RATE_LIMIT_LOGIN_PER_MINUTE=5
RATE_LIMIT_JOIN_SESSION_PER_MINUTE=10
RATE_LIMIT_CREATE_SESSION_PER_MINUTE=10
TURN_PUBLIC_HOST=turn.seudominio.com
TURN_REALM=sonicrelay
TURN_STATIC_AUTH_SECRET=CHANGE_ME_STRONG_TURN_SECRET
COTURN_VERSION=latest
